/* font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Shadows Into Light Two', cursive;
*/

:root {
    --primary-color: #d5eeff;
    --secondary-color: #007cb9;
    --highlight-color: #fc8218a9;
    --box-shadow: 0 5px 10px #007cb9;
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Shadows Into Light Two', cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--secondary-font);
}

h2 {
    font-size: 40px;
}

p {
    line-height: 30px;
    font-size: 16px;
}

.feature {
    font-size: 30px;
    border: 2px solid var(--secondary-color);
    border-radius: 4px;
    padding: 15px;
}

.feature:hover{
    border: 4px solid var(--highlight-color);
    background-color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
}

.hero {
    text-align: center;
    background-color: var(--primary-color);
    padding: 160px 20px;
}

.hero h1 {
    font-weight: bold;
    font-size: 70px;
}

.hero p{
    font-family: var(--primary-font);
    margin: 0px;
}

.project-description {
    padding: 120px 60px;
}

@media (max-width: 960px){
    .project-description{
        padding: 0;
        text-align: center;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 44px;
    }

    .hero {
        padding: 80px 20px;
        }

    .project-description {
        padding: 0;
        text-align: center;
    }
}

.btn-branding {
    background: var(--secondary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 15px;
}

.btn-branding-outline{
    background: var(--highlight-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 8px 15px;
}

.btn-branding-outline:hover{
    background-color: var(--secondary-color);
    color: white;
}

.content-container {
    margin: 15px;
    text-align: center;
}

.content-container img {
    border-radius: 6px;
}

.content {
    padding: 80px 20px;
}

.content h1 {
    font-size: 64px;
    line-height: 1.2;
}

.content h2 {
    font-size: 18px;
    font-family: var(--primary-font);
}

.content h3{
    font-size: 24px; 
    line-height: 1.2;
}

.content p {
    text-align: center;
}

.footer{
    line-height: 15px;
}